<div class="container banner">
  <h1> <%= @startup.name %></h1>
  <h2> <%= @startup.creation %></h2>
  <h2> <%= @startup.address %></h2>
  <h2> <%= @startup.people %> personnes </h2>
  <h2> <%= @startup.activity %></h2>
</div>
